<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" id="viewport">
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="telephone=no" name="format-detection" />
		<!-- uc强制竖屏 -->
		<meta name="screen-orientation" content="portrait">
		<!-- QQ强制竖屏 -->
		<meta name="x5-orientation" content="portrait">
		<!--test缓存-->
		<!--<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">-->

		<title>确认订单</title>

		<link rel="stylesheet" type="text/css" href="./css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/defined/scroll.css" />
		<link rel="stylesheet" type="text/css" href="css/pages/order.css" />
		<link rel="stylesheet" type="text/css" href="css/pages/index.css" />
		<link rel="stylesheet" type="text/css" href="js/password/sixpass.css"/>
		<link rel="stylesheet" type="text/css" href="css/defined/input.css"/>
		
		<script src="js/zepto/zepto.min.js"></script>
		<script src="js/modal/modal.js"></script>
		<script src="js/aze_lib.js"></script>

		<script src="js/scroll/iscroll5-min.js"></script>
		<script src="js/scroll/iscrollAssist.js"></script>
		<script src="js/scroll/underscore.js"></script>
		
		<script src="js/setting.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cart.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/address.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/core.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/sha256.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.form.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/password/sixpass.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body class="bg-eee">
		<script type="text/template" id="tpl">
			<% for(var i = 0;i<data.goodsList.length;i++){%>
			<% var item=data.goodsList[i];%>
			<li class="my-list-li">
				<a class="my-list-content">
					<img class="my-list-left" src="<%= getImgurl(item.goodsPics)[0]%>">
					<div class="my-list-body">
						<h3><%=item.goodsName%></h3>
						<p class="p-bottm">
							<span class="money"><%= returnNumbers(item.price)%></span>
							<span class="cl-green fl-r">x&nbsp;<%=item.total%></span>
						</p>
					</div>
				</a>
			</li>
			<% } %>
		</script>
		<!--<script type="text/template" id="tpl">
			<%for(var i=0;i<goodsList.length;i++){ %>
			<% var item=goodsList[i];%>
			<li class="my-list-li">
				<a class="my-list-content">
					<img class="my-list-left" src="image/test/sp01.jpg">
					<div class="my-list-body">
						<h3><%=item.goodsName%></h3>
						<p class="p-bottm">
							<span class="money"><%= returnNumbers(item.price)%></span>
							<span class="cl-green fl-r">x&nbsp;<%=item.total%></span>
						</p>
					</div>
				</a>
			</li>
			<%}%>
		</script>-->
		
		<div class="purseList">
			<header id="header">
				<a class="return" href="javascript:history.go(-1);"></a>
				<h1>确认订单</h1>
				<div class="right"></div>
			</header>
			<div id="list-wrap">
				<div id="wrapper">
					<div>
						<div class="column address">
							<!--<a class="right" href="shippingAddress.html?beforepage=order&data="></a>
							<h3>小红帽 <small class="fl-r">15997448183</small></h3>
							<p class="cl-999">地址：试试郭德纲的发给对方后反弹后郭德纲的发给对方后反弹后郭德纲的发给对方后反弹后郭德纲的发给对方后反弹后郭德纲的发给对方后反弹后</p>-->
						</div>
						<!--<div class="column address">
							<a class="right" href="shippingAddress.html?beforepage=order&data="></a>
							<p class="">新建收货地址</p>
						</div>-->
						<div class="column memo ">
							<p class=" flex"><label >备注：</label><input class="flex-1" type="text" name="memo" id="memo" value="" placeholder="给商家的留言信息"/></p>
						</div>
						<div class="column">
							<header>订单明细</header>
							<ul id="listContBox" class="my-list-one">
								<!--<li class="my-list-li">
									<a class="my-list-content">
										<img class="my-list-left" src="image/test/sp01.jpg">
										<div class="my-list-body">
											<h3>53度茅台迎宾酒（2013款）500m*6瓶 酒厂直供</h3>
											<p class="p-bottm">
												<span class="money"><small>￥</small><big>4.431</big><small>.22</small></span>
												<span class="cl-green fl-r">x&nbsp;9</span>
											</p>
										</div>
									</a>
								</li>-->
							</ul>
						</div>
						<div class="column">
							<p class="text-over-hide">实际支付: <span class="money sun-money fl-r">0.00</span></p>
						</div>
						<button class="btn btn-green btn-lg wd-all" style="padding: 0.2rem;" onclick="submitOrder()">提交订单</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			//提交订单 
			var url_orderSubmit = getAjaxOrigin() + '/api/order/subOrder';
			//用余额支付
			var url_balancePay = getAjaxOrigin() + '/api/wallet/payByBalance';
			//获取商品详情
			var url_getGoodsDetails = getAjaxOrigin() + '/api/goods/getGoodsDetail';
			//存储 提交订单 数据
			var goodsdata = false;
			$(function() {
				//获取url带参
				urld = getQueryData();
				if(urld.data) { //有携带商品 渲染要下单的商品
					goodsdata = JSON.parse(urld.data);
					var strs = _.template($('#tpl').html());
					//通过计算订单获取商品
					settlementOrder(urld.data,function (data) {
						$('#listContBox').append(strs(data));
						if(goodsdata.buyType == 1){
							$('.sun-money').html(returnNumbers(data.data.canDeductPoint).replace('￥','积分：'));
						}else{							
							$('.sun-money').html(returnNumbers(data.data.payAmount));
						}
					});
					
					/*通过ID获取渲染商品列表*/
//					var sumprice = 0;
//					var alertSumprice = goodsdata.buyType == 1 ? function (price,total) {
//						sumprice += price*total;
//						$('.sun-money').html(returnNumbers(sumprice).replace('￥','积分：'));
//					}:function (price,total) {
//						sumprice += price*total;
//						$('.sun-money').html(returnNumbers(sumprice));
//					}
//					$.each(goodsdata.goodsMap,function (i,e) {
//						ajax({
//							type:'get',
//							url:url_getGoodsDetails,
//							data:{id:i},
//							success:function(data){
//								i++;
//								data.data.total = e ;
//								$('#listContBox').append(strs(data));
//								alertSumprice(data.data.price,e);
//								iSObj.refresh();
//							}						
//						})
//					})
					/*购物车、详情页带goodslist过来渲染商品列表*/
//					$('#listContBox').empty().append(str(goodsdata));
//					if(goodsdata.buyType == 1){//如果是积分区商品
//						$('.sun-money').html(returnNumbers(goodsdata.sumprice).replace('￥','积分：'));
//					}else{
//						$('.sun-money').html(returnNumbers(goodsdata.sumprice));	
//					}
				}else{
					modal('没有携带商品');
					goodsdata = {};
				}
				iscrollContent();
				//存储渲染地址的html 
				if(urld.cart){//购物车页面跳转标识
					var str = '<a class="right" href=\'shippingAddress.html?cart=true&beforepage=order&data='+ encodeURI(urld.data) +'\'></a>';
				}else{
					var str = '<a class="right" href=\'shippingAddress.html?beforepage=order&data='+ encodeURI(urld.data) +'\'></a>';					
				}
				if(urld.address) { //连接带有指定地址
					/*收货地址页面带address=id参数*/
					getAddress(function (data) {
						console.log(data);
						$.each(data.data,function (i,e) {
							if(e.id == urld.address){
								goodsdata.addressId = e.id;
								str += '<h3>'+e.realname+' <small class="fl-r">'+e.mobile+'</small></h3>' +
										'<p class="cl-999">地址：'+e.address+'</p>';
								$('.address').empty().append(str);
								iSObj.refresh();
							}
						})
					});
					/*收货地址页面带address={}参数*/
//					var address = JSON.parse(urld.address);
//					goodsdata.addressId = address.id;
//					str += '<h3>'+address.realname+' <small class="fl-r">'+address.mobile+'</small></h3>' +
//							'<p class="cl-999">地址：'+address.address+'</p>';
//					$('.address').empty().append(str);
//					iSObj.refresh();
				} else { //连接没有带指定地址
					//获取收货地址 判断默认收货地址后 渲染收货地址
					getAddress(function(data) {
						//存储收货地址
						var address = false;
						//收货地址列表
						var d = data.data || [];
						if(d.length > 0) {
							$.each(d, function(i, e) {
								//判断是否为默认
								if(e.isDefault) {
									address = e;
									return false;
								}
							});
							//如果没有设定默认，选第一个
							if(!address) {
								address = d[0];
							}
						}
						if(address){
							goodsdata.addressId = address.id;
							str += '<h3>'+address.realname+' <small class="fl-r">'+address.mobile+'</small></h3>' +
									'<p class="cl-999">地址：'+address.address+'</p>';
						}else{
							str += '<p class="">新建收货地址</p>';	
						}
						$('.address').empty().append(str);
						iSObj.refresh();
					});
				}
			})
			function submitOrder(){
				if(!goodsdata){
					modal('提交失败！【 goodsdata = null】');
					return false;
				}
				delete goodsdata.goodsList;
				delete goodsdata.sumprice;
				goodsdata.memo = $('#memo').val();
				//如果是积分区商品
				var isIntegral = goodsdata.buyType == 1 ;
				if(isIntegral){//积分商品
					getExistPayPass(function (data) {
						var sixPass = appendSixPass(function(sixpass,wp){
							wp.remove();
							//检校支付
							judgePayPass(sixpass,function (data) {
								var pwdToken = data.data.pwdToken;
								goodsdata.pwdToken = pwdToken;
								
								ajax({
									info:'提交订单',
									infosuccess:true,
									headers:{
										'Content-Type':'application/json'
									},
									url:url_orderSubmit,
									data:JSON.stringify(goodsdata),
									success:function(data){
										console.log('积分下单成功',data);
										orderRemoveCart(function(){								
											location.href='orderList.html?status=1';
										});
									}
								})
							});
						});
						sixPass.show();
					},'?&beforepage=order&data='+ encodeURI(urld.data));
//					},'?beforepage=order&'+location.search.substr(1));
					return false;
				}else{
					ajax({
						info:'提交订单',
						infosuccess:true,
						headers:{
							'Content-Type':'application/json'
						},
						url:url_orderSubmit,
						data:JSON.stringify(goodsdata),
						success:function(data){
							console.log('现金下单成功',data);
							orderRemoveCart(function(){
								window.location.replace('payment.html?beforepage=order&orderId=' + data.data.orderId);
								//goPayment(data.data.orderId);								
							});
						}
					})
				}
			}
			
			function orderRemoveCart(fun) {//删除成功下单的商品
				var d = Object.keys(goodsdata.goodsMap);
				var str = '[';
				$.each(d,function (i,e) {
					if(i==0){
						str += '"'+e+'"';
					}else{
						str += ',"'+e+'"';
					}
				})
				str += ']';
				removeCart(str,fun);
			}
		</script>
	</body>

</html>